<%= link_to root_path do %>
  <img id='logo' src="http://res.cloudinary.com/devmknhk5/image/upload/v1417270346/whiteoutline12ptstroke_wdgfs9.svg" alt="logo"/>
<% end %>
<ul>
  <li>SEARCH</li>
  <li>LOGIN</li>
  <li>REGISTER</li>
  <li>ABOUT</li>
</ul>