<div class="wrapper">
  <div class="left-panel">
    <h1>Luke McComb</h1>
    <h2>Software Developer</h2>
    <div class="links">
      <p>
        <a href="mailto:lucasmccomb@gmail.com" target="_blank">Gmail</a>
      </p>
      <p>
        <a href="tel:860-558-2003">860.558.2003</a>
      </p>
      <p>
        <a href="https://github.com/lukemccomb">GitHub</a>
      </p>
      <p>
        <a href="https://twitter.com/lukemccomb">Twitter</a>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/lukemccomb">LinkedIn</a>
      </p>
    </div>
    <%= image_tag "lg1Lessbright.png" %>
  </div>
  <div class="right-panel">
    <h2>Skills</h2>
    <p>
      Ruby, Ruby on Rails, ActiveRecord, Postgres, Sinatra, JavaScript, jQuery, AJAX, Backbone.js, CoffeeScript, AngularJS, HTML5, CSS3/SCSS, Git, Bootstrap, Zurb Foundation, Photoshop, Lightroom
    </p>
    <h2>Experience</h2>
    <p>
      <span class="mondo">Mondo Robot LLC</span> - <span class="position">Junior Developer</span>
      <br />
      <span class="loc-date">Boulder, CO // April ’15 - Present</span>
      <br />
      <ul>
        <li><a href="http://www.digitalglobe.com" target="_blank">DigitalGlobe</a></li>
        <li>Developed in-depth company profile site detailing all products offered, servicable industries,coportate team profiles, events, user case studies, and image gallery</li>
        <li>Developed CMS to allow client to manage page layout and styling as well as content</li>
        <li>Ruby on Rails, jQuery UI, ActiveAdmin, Zurb Foundation, SASS, PostgreSQL, responsive/cross-device</li>
        <li>Gems: <a href="https://github.com/mbleigh/seed-fu">seed-fu</a>, <a href="https://github.com/globalize/globalize">globalize</a>, <a href="http://activeadmin.info/docs/documentation.html">ActiveAdmin</a></li>
      </ul>
    </p>

    <p>
      <span class="mondo">Mondo Robot LLC</span> - <span class="position">Developer Apprentice</span>
      <br />
      <span class="loc-date">Boulder, CO // December ’14 - March ’15</span>
      <br />
      <ul>
        <li><a href="http://www.mondorobot.com" target="_blank">Mondo Robot Portfolio</a></li>
        <li>Rebuilt Mondo Robot's portfolio website using Middleman and AngularJS</li>
        <li>Implemented multiple iterations of cutting-edge design features to achieve the vision of the design team</li>
        <li>Built out dual-layer main navigation</li>
        <li>Participated in creative concepting with design team</li>
        <li>Middleman, Angular.JS, CoffeeScript, Slimlang, Zurb Foundation, SASS, responsive/cross-device</li>
      </ul>
    </p>
    <p>
      <span class="ol">Outdoor Life Magazine</span> - <span class="position">Contract Photographer</span>
      <br />
      <span class="loc-date">Locational // Aug ’08 - May ’13</span>
      <br />
      <ul>
        <li>Photographed <a href="http://eyeofthehunt.com/" target="_blank">four hunting excursions</a>, two of which have been published</li>
        <li>Gained art direction skills in challenging wilderness environments</li>
        <li>Collaborated with multiple editors to produce quality images for editorials</li>
      </ul>
    </p>
    <h2>Education</h2>
    <p>
      <span class="gschool">Galvanize gSchool</span> - Full Stack Immersive
      <br>
      <span class="loc-date">Denver, CO // June '14 - Nov '14</span>
    </p>
    <ul>
      <li>Emphasis - Software Development</li>
      <li>Graduation Certificate - November 2014</li>
      <li>Curriculum: Ruby, Ruby on Rails, Sinatra, JavaScript, jQuery,  SCSS/CSS3, HTML5, Databases, APIs, Version Control, Agile, Test-Driven Development</li>
    </ul>
    <p>
      <span class="gschool">Syracuse University</span>
      <br>
      <span class="loc-date">Syracuse, NY // August '06 - May '10</span>
    </p>
    <ul>
      <li>S. I. Newhouse School of Public Communications</li>
      <li>Emphasis: Photography & Graphic Design</li>
      <li>B.A. Visual & Interactive Communications - May 2010</li>
    </ul>
    <h2>Projects</h2>
    <h3><a href="http://lukefolio.herokuapp.com/" target="_blank">Lukefolio</a></h3>
    <ul>
      <li>Searchable database of my Flickr images</li>
      <li>Ruby on Rails application, CSS3/SCSS, HTML5, Bourbon, JavaScript, Flickr API, Postgress Database, ActiveRecord</li>
      <li>CRUD Features: commenting, favoriting, users</li>
    </ul>
    <h3><a href="http://luke-rantly.herokuapp.com/" target="_blank">Rantly</a></h3>
    <ul>
      <li>Twitter-like social media application where users can post ‘Rants’, follow one another, comment on and favorite posts.</li>
      <li>Github: <a href="https://github.com/lukemccomb/rantly" target="_blank">https://github.com/lukemccomb/rantly</a></li>
    </ul>
  </div>
</div>
