<div class="wrapper">
  <div class="left-panel">
    <h1>Luke McComb</h1>
    <h2>Full Stack Developer</h2>
    <p>
      <a href="mailto:lucasmccomb@gmail.com" target="_blank">lucasmccomb@gmail.com</a>
    </p>
    <p>
      860.558.2003
    </p>
    <p>
      <a href="https://github.com/lukemccomb">GitHub</a>
    </p>
    <p>
      <a href="https://twitter.com/lukemccomb">Twitter</a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/lukemccomb">LinkedIn</a>
    </p>
    <%= image_tag "lg1Lessbright.png" %>
  </div>
  <div class="right-panel">
    <h2>Skills</h2>
    <p>
      Ruby, Ruby on Rails, ActiveRecord, Postgres, Sinatra, JavaScript, jQuery, Backbone.js, CoffeeScript, AngularJS, HTML5, CSS3/SCSS, Git, Bootstrap, Zurb Foundation
    </p>
    <h2>Experience</h2>
    <p>
      <span class="company">Mondo Robot LLC</span> - <span class="position">Junior Developer</span>
      <br />
      <span class="loc-date">Boulder, CO | April’15-Present</span>
      <br />
      <ul>
        <li><a href="www.digitalglobe.com">DigitalGlobe</a></li>
        <li>Developed in-depth company profile site detailing all products offered, servicable industries,coportate team profiles, events, user case studies, and image gallery</li>
        <li>Developed CMS to allow client to manage page layout and styling as well as content</li>
        <li>Ruby on Rails, jQuery UI, ActiveAdmin, Zurb Foundation, SASS, PostgreSQL</li>
        <li>Gems: <a href="https://github.com/mbleigh/seed-fu">seed-fu</a>, <a href="https://github.com/globalize/globalize">globalize</a>, <a href="http://activeadmin.info/docs/documentation.html">ActiveAdmin</a></li>
      </ul>
    </p>

    <p>
      <span class="company">Mondo Robot LLC</span> - <span class="position">Developer Apprentice</span>
      <br />
      <span class="loc-date">Boulder, CO | December’14-March’15</span>
      <br />
      <ul>
        <li><a href="www.digitalglobe.com">DigitalGlobe</a></li>
        <li>Developed in-depth company profile site detailing all products offered, servicable industries,coportate team profiles, events, user case studies, and image gallery</li>
        <li>Developed CMS to allow client to manage page layout and styling as well as content</li>
        <li>Ruby on Rails, jQuery UI, ActiveAdmin, Zurb Foundation, SASS, PostgreSQL</li>
        <li>Gems: <a href="https://github.com/mbleigh/seed-fu">seed-fu</a>, <a href="https://github.com/globalize/globalize">globalize</a>, <a href="http://activeadmin.info/docs/documentation.html">ActiveAdmin</a></li>
      </ul>
    </p>
    <p>
      Outdoor Life Magazine ›Contract Photographer | Locational | Aug’08-May’13
      Photographed four hunting excursions, two of which have been published
      Gained art direction skills in challenging wilderness environments
      Collaborated with multiple editors to produce quality images for editorials
    </p>
    <h2>Education</h2>
    <h3>Galvanize gSchool Full Stack Immersive - Denver, CO</h3>
    <ul>
      <li>Emphasis - Software Development</li>
      <li>Graduation Certificate - November 2014</li>
      <li>Curriculum: Ruby, Ruby on Rails, Sinatra, JavaScript, jQuery,  SCSS/CSS3, HTML5, Databases, APIs, Version Control, Agile, Test-Driven Development</li>
    </ul>
    <h3>Syracuse University - Syracuse, NY</h3>
    <ul>
      <li>S. I. Newhouse School of Public Communications</li>
      <li>Emphasis: Photography & Graphic Design</li>
      <li>B.S. Visual & Interactive Communications - May 2010</li>
    </ul>
    <h2>Projects</h2>
    <h3>Lukefolio - http://lukefolio.herokuapp.com/</h3>
    <ul>
      <li>Searchable database of my Flickr images</li>
      <li>Ruby on Rails application, CSS3/SCSS, HTML5, Bourbon, JavaScript, Flickr API, Postgress Database, ActiveRecord</li>
      <li>CRUD Features: commenting, favoriting, users</li>
    </ul>
    <h3>Rantly - http://luke-rantly.herokuapp.com/</h3>
    <ul>
      <li>Twitter-like social media application where users can post ‘Rants’, follow one another, comment on and favorite posts.</li>
      <li>Github: https://github.com/lukemccomb/rantly </li>
    </ul>
  </div>
</div>
