/*
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  width: 100%;
  font-family: Helvetica, sans-serif;
  position: relative;
}


nav {
  position: fixed;
  top: 5%;
  left: 3%;
  width: 8%;
  ul {
    list-style: none;
    li {
      color: rgba(255, 255, 255, 0.75);
      width: auto;
      font-weight: 100;
      font-size: 100%;
      text-shadow: 2px 2px 2px rgba(0, 187, 255, 0.30);
      line-height: 140%;
      border-radius: 5px;
      &:hover {
        color: rgba(255, 255, 255, 1);
        text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.30);
      }
      cursor: pointer;
    }
  }
  #logo {
    width: 60%;
    margin-left: -4.5%;
  }
}

footer {
  position: relative;

  #info-icon {
    position: fixed;
    bottom: 6.2%;
    left: 4.48%;
    width: 10%;
    color: rgba(0, 0, 0, 0.7);
    font-size: 110%;
    text-shadow: 2px 2px 2px rgba(0, 187, 255, 0.3);
    cursor: pointer;
//    &:hover {
//      color: #00BBFF;
//    }
  }

  #camera-icon {
    position: fixed;
    bottom: 5%;
    left: 3.5%;
    width: 10%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 250%;
    text-shadow: 2px 2px 2px rgba(0, 187, 255, 0.3);
    cursor: pointer;
    z-index: -1;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  #left-arrow {
    color: rgba(255, 255, 255, 0.6);
    font-size: 400%;
    text-shadow: 2px 2px 2px rgba(0, 187, 255, 0.3);
    cursor: pointer;
    position: fixed;
    top: 45%;
    left: 2.5%;
    &:hover {
      color: #00BBFF;
    }
  }

  #right-arrow {
    color: rgba(255, 255, 255, 0.6);
    font-size: 400%;
    text-shadow: 2px 2px 2px rgba(0, 187, 255, 0.3);
    cursor: pointer;
    position: fixed;
    top: 45%;
    right: 2.5%;
    &:hover {
      color: #00BBFF;
    }
  }

  #twitter {
    color: rgba(255, 255, 255, 0.6);
    font-size: 200%;
    text-shadow: 2px 2px 2px rgba(0, 187, 255, 0.3);
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 3.5%;
    &:hover {
      color: #00BBFF;
    }
  }
}
