/*
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "text";
@import "theme";
@import "layout";
@import "animate";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  // background: linear-gradient(-168deg, rgba(0, 90, 242, .5), rgba(169, 7, 245, .5)), url("tetons.jpg") no-repeat fixed center;
  background: linear-gradient(-168deg, rgba(0, 90, 242, .5), rgba(169, 7, 245, .5)), no-repeat fixed center;
  font-family: Helvetica, sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 600px) {

  .left-panel {
    padding: 2em;
    float: left;
    height: 10vh;
    text-align: left;
    width: 100%;
    position: relative;
  }

  img {
    display: none;
  }

  .right-panel {
    padding: 2em 7% 2em 45%;
  }

  h1 {
    font-size: 1.5em;
  }

  a {
    color: rgb(53, 35, 185);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .right-panel {
    float: left;
    margin: 6em 0 2em 0;
    padding: 2em;
    width: 80%;
  }

  h2 {
    font-size: 1.25em;
    margin: .75em 0 .5em 0;
  }

  p, h3, ul {
    margin-bottom: .5em;
  }

  img {
    opacity: .4;
    position: fixed;
    bottom: 2em;
    left: 18%;
    width: 10%;
  }

  .mondo {
    font-weight: bold;
    color: rgb(210, 0, 17);
  }

  .ol {
    font-weight: bold;
    color: forestgreen;
  }

  .position {
    font-weight: bold;
    font-style: italic;
  }

  .loc-date {
    font-size: .8em;
  }

  ul {
    margin: 0 0 1em 1.75em;
  }

  li {
    list-style-type: circle;
    font-size: .9em;
    margin-top: .15em;
  }

  .gschool {
    color: rgb(255, 114, 0);
    font-weight: bold;
  }
}

@media (min-width: 601px) and (max-width: 1440px) {
  .left-panel {
    padding: 2em;
    float: left;
    height: 100vh;
    position: fixed;
    text-align: right;
    width: 25%;
  }

  .links {
    margin-top: 3em;
  }

  h1 {
    font-size: 2em;
  }

  a {
    color: rgb(53, 35, 185);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .right-panel {
    float: left;
    margin-bottom: 2em;
    padding: 2em 2em 2em 35%;
    width: 45%;
  }

  h2 {
    font-size: 1.25em;
    margin: .75em 0 .5em 0;
  }

  p, h3, ul {
    margin-bottom: .5em;
  }

  img {
    opacity: .4;
    position: fixed;
    bottom: 2em;
    left: 18%;
    width: 10%;
  }

  .mondo {
    font-weight: bold;
    color: rgb(210, 0, 17);
  }

  .ol {
    font-weight: bold;
    color: forestgreen;
  }

  .position {
    font-weight: bold;
    font-style: italic;
  }

  .loc-date {
    font-size: .8em;
  }

  ul {
    margin: 0 0 1em 1.75em;
  }

  li {
    list-style-type: circle;
    font-size: .9em;
    margin-top: .15em;
  }

  .gschool {
    color: rgb(255, 114, 0);
    font-weight: bold;
  }
}

@media (min-width: 1441px) {
  .left-panel {
    padding: 2em;
    float: left;
    height: 100vh;
    position: fixed;
    text-align: right;
    width: 25%;
  }

  .links {
    margin-top: 3em;
  }

  h1 {
    font-size: 2em;
  }

  a {
    color: rgb(53, 35, 185);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .right-panel {
    float: left;
    margin-bottom: 2em;
    padding: 2em 2em 2em 45%;
    width: 45%;
  }

  h2 {
    font-size: 1.25em;
    margin: .75em 0 .5em 0;
  }

  p, h3, ul {
    margin-bottom: .5em;
  }

  img {
    opacity: .4;
    position: fixed;
    bottom: 2em;
    left: 18%;
    width: 10%;
  }

  .mondo {
    font-weight: bold;
    color: rgb(210, 0, 17);
  }

  .ol {
    font-weight: bold;
    color: forestgreen;
  }

  .position {
    font-weight: bold;
    font-style: italic;
  }

  .loc-date {
    font-size: .8em;
  }

  ul {
    margin: 0 0 1em 1.75em;
  }

  li {
    list-style-type: circle;
    font-size: .9em;
    margin-top: .15em;
  }

  .gschool {
    color: rgb(255, 114, 0);
    font-weight: bold;
  }
}
