body {
  background: linear-gradient(-168deg, rgba(0, 90, 242, .5), rgba(169, 7, 245, .5));
  font-family: Helvetica, sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  min-height: 100%;
  min-height: 10vh;
  display: flex;
  align-items: baseline;
}

.header-wrap {
  margin-top: 50px;
  min-height: 100%;
  min-height: 20vh;
  display: flex;
  align-items: center;
}

.logo-wrap {
  padding-top: 100px;
}
